slack-bolt==1.26.0
slack-sdk==3.37.0
litellm==1.77.7
pillow==11.3.0
requests==2.32.5
bedrock-agentcore==0.1.7
mcp==1.16.0
pytz==2025.2
strands-agents==1.11.0
strands-agents-tools==0.2.11

# workaround for https://github.com/BerriAI/litellm/issues/13081
apscheduler
backoff
cryptography
email-validator
fastapi
fastapi-sso
orjson
websockets
