name: Lint

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  ghalint:
    name: Lint GitHub Actions workflows
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: stable

      - name: Install ghalint
        run: go install github.com/suzuki-shunsuke/ghalint/cmd/ghalint@v1.5.3

      - name: Run ghalint
        run: ghalint run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
