name: Trivy security scan

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      security-events: write
    env:
      REGISTRY_IMAGE: ghcr.io/${{ github.repository }}
    steps:
      - name: Pull Docker image
        run: |
          docker pull "${REGISTRY_IMAGE}:latest"

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          image-ref: ${{ env.REGISTRY_IMAGE }}:latest
          format: 'sarif'
          output: 'trivy-results.sarif'
          scanners: 'vuln'
          version: 'v0.68.2'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
